<?xml version="1.0"?>

<robot name="hdt" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Import hdt arm -->
  <xacro:include filename="$(find hdt_description)/robots/hdt_default.xacro" />

  <link name="world"/>

  <xacro:hdt namespace="hdt" parent="world" hardware_interface="PositionJointInterface">
    <origin xyz="0 0 1.5" rpy="0 0 0"/>
  </xacro:hdt>
</robot>