<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find hdt_arm_moveit)/config/ros_controllers.yaml" command="load"/>

  <!-- Load the controllers -->
  <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" 
    output="screen" args="joint_state_controller arm_controller hand_controller"/> -->

  <!-- start this controller -->
  <!-- <rosparam file="$(find ur_gazebo)/controller/arm_controller_ur5.yaml" command="load"/> -->
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller arm_controller hand_controller" respawn="false" output="screen"/>

  <!-- load other controllers -->
  <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load joint_group_position_controller" />

</launch>
